{% extends 'base.html'  %}

<title>Its our secret</title>

{% block content %}


<div class="row justify-content-center mt-3">
    <div class="col-6 border border-danger">
        <h3 class="text-center mt-0">Welcome {{user.first_name}}! </h3>
    <ul>

    <div class="user_info">
        <li>
            Name: {{user.first_name}} {{user.last_name}}
        </li>
        <li>
            Email: {{user.email}}
        </li>
        <li>
            Username: {{user.username}}
        </li>
    </div>
</ul>
</div>
<div class="col-4 border border-info ml-1">
    <h4 class="text-center">Feedback</h4>
    <ul>
    {% for feedback in feedbacks %}
        <li>{{feedback.title}}</li>
    {% endfor %}
    </ul>
    
    <a href="/users/{{user.username}}/feedbacks/add"> <button class="btn btn-primary btn-success">Add Feed</button></a>
</div>
</div>


{% endblock %}