{% extends 'base.html'  %}

<title>Its our secret</title>

{% block content %}


<div class="row justify-content-center mt-3">
    <div class="col-6 border border-danger">
        <div class="input-group justify-content-center">
            <h3 class="text-center mt-0">Welcome {{user.first_name}}! </h3>
            <form action="/users/{{user.username}}/delete" method="POST">
                <button class=" btn btn-sm fas fa-trash-alt fa-2x bg-danger ml-2"> </button>
            </form> 
        </div>

    <ul>

    <div class="user_info">
        <li>
            Name: {{user.first_name}} {{user.last_name}}
        </li>
        <li>
            Email: {{user.email}}
        </li>
        <li>
            Username: {{user.username}}
        </li>
    </div>
</ul>
</div>
<div class="col-4 border border-info ml-1">
    <h4 class="text-center">Feedback</h4>
    <ul>
    {% for feedback in feedbacks %}

    <div class="input-group">
            <a href="/feedback/{{feedback.id}}/update"><li>{{feedback.title}}</li></a>
            <form action="/feedback/{{feedback.id}}/delete" method="POST">
                <button class=" btn btn-sm fas fa-trash-alt bg-danger ml-2"> </button>
            </form> 
    </div>
    {% endfor %}
    </ul>
    
    <a href="/users/{{user.username}}/feedbacks/add"> <button class="btn btn-primary btn-success">Add Feed</button></a>
</div>
</div>

{% endblock %}